# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Archivos de entorno
.env

# Archivos de base de datos
*.sql
*.db

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos generados por editores
*.swp
*.swo
*~

# Entornos virtuales
*.venv/

# Archivos de dependencias (si usas un entorno virtual)
Pipfile.lock